<!DOCTYPE html>
<html>
  <h3>Welcome aboard!</h3>
  <head>
    <title>My Portfolio</title>
  </head>
  <body>
    <h2>Doug MacDowell's Portfolio</h2>

    <p>Occupation:  Software Configuration Engineer</p>

    <p>Current Employer:  <I>A Fortune 500 Freight Forwarding Company</I></p>

    <p>Location:  The Pacific Northwest, U.S.A.</p>

    <p>Background and Skills:  Unix/Linux Systems Administration, shell scripting, Ruby, Expect, Chef<sub>TM</sub></p>

  </body>
</html>
