<!DOCTYPE html>
<html>
<h4>Welcome aboard!</h4>
<head>
    <title>My Portfolio</title>
</head>
<body>
<h2>Welcome to Doug MacDowell's Portfolio</h2>

<p>Occupation:  Software Configuration Engineer</p>

<p>Current Employer:  <I>Expeditors International of Washington, Inc.</I></p>

<p>Background and Skills:  IT management, Network Administrator, Unix Systems Administrator</p>

</body>
</html>
