<h1><strong>Project Listing</strong></h1>

<div class="row">
  <div class="columns large-12">

    <section id="projects">
      <%= render @projects %>
    </section>

  </div>
</div>

<br />
<%= link_to 'New Project', new_project_path, remote: true, id: :new_link %> |
<%= link_to 'Home', root_path %>
