<h1><strong>Listing of Projects</strong></h1>

<p>
<%= link_to 'Back to Home', root_path, class: "button tiny" %>
</p>

<ul>
  <%= render @projects %>
</ul>

<br />
<%= link_to 'New project', new_project_path, remote: true, id: :new_link %>
<br />
