<h2><%= @project.name %></h2>
<p>Technologies used: <%= @project.technologies_used %>

<br />
<br />
<%= link_to 'Destroy', @project, method: :delete, data: {confirm: 'Are you sure?'} %>
<br />
<br />
<%= link_to 'Back', projects_path, class: "button radius"%>
